## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config3 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_Vacation.csv")
# vacation_df.head()
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Bambous Virieux,MU,71.22,broken clouds,-20.3428,57.7575,Casa Tia Villa
1,4,Kudahuvadhoo,MV,83.07,scattered clouds,2.6708,72.8944,Niyama Private Islands Maldives
2,6,Nouadhibou,MR,71.78,overcast clouds,20.9310,-17.0347,El Medina
3,13,Arraial do Cabo,BR,71.10,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
4,14,Karratha,AU,80.35,clear sky,-20.7377,116.8463,ibis Styles Karratha

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Hasaki")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Hasaki")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Katsuura")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Tateyama")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Shimoda")]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
59,139,Hasaki,JP,79.2,clear sky,35.7333,140.8333,Hotel Sunrise Choshi

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0, 5:7].to_numpy()
end = vacation_end.iloc[0, 5:7].to_numpy()
stop1 = vacation_stop1.iloc[0, 5:7].to_numpy()
stop2 = vacation_stop2.iloc[0, 5:7].to_numpy()
stop3 = vacation_stop3.iloc[0, 5:7].to_numpy()

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

vacay_in_japan = gmaps.directions_layer(start, end, waypoints=([stop1,stop2,stop3]), travel_mode="DRIVING")

fig.add_layer(vacay_in_japan)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,139,Hasaki,JP,79.20,clear sky,35.7333,140.8333,Hotel Sunrise Choshi
1,97,Katsuura,JP,75.31,clear sky,35.1333,140.3000,Katsuura Hotel Mikazuki
2,238,Tateyama,JP,81.14,clear sky,34.9833,139.8667,Tateyama Seaside Hotel
3,578,Shimoda,JP,75.11,clear sky,34.6667,138.9500,Shimoda Tokyu Hotel

In [22]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))